*{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
body{
  background-color: #f3f3f3;
  nav{
    background-color: #EDE5E5;
    height: 57px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    ul{
      display: flex;
      li{
        list-style: none;
        flex-grow: 1;
        :last-child{
          margin-right: 10px;
        }
        a{
          text-decoration: none;
          color: #5A5A5A;
        }
      }
    }
  }
  .login{
    margin: 316px auto 0 auto;
    input[type="text"]{
      background: #FFFFFF;
      border: 1px solid #E2E1E5;
      box-sizing: border-box;
      border-radius: 5px;
    }
    label{
      font-size: 14px;
      line-height: 28px;
    }
    input[type="submit"]{
      background-color: #20C55E;
      border-color: #20C55E;
    }
  }
}
